@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Superheroes!</h1>
    <img src ="https://artistjourney.files.wordpress.com/2012/02/samflegal_zombiewolverine_web1.jpg"/>
</div>
